*{
    outline: none;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: rgb(33, 33, 33);
}


.logo{
    width: 290px;
    height: 290px;
    display: block;
    margin: 20px auto;
}

main{
    width: 375px;
    background: #f4f4f4;
    border-radius: 20px;
    margin: 0 auto;
    padding: 44px 24px 23px;
    margin-bottom: 14px;
}

label{
    color: #777777;
    font-weight: 400;
    font-size: 14px;
}

select, input{
    background: #FFFFFF;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 18px;
    padding-left: 18px;
    font-weight: 550;
    font-size: 18px;
    color: #555555;
}

button{
background: black;
border-radius: 5px;
width: 100%;
border: none;
font-size: 18px;
font-weight: 700;
height: 48px;
cursor: pointer;
color: #ffffff
}

button:hover{
background-color: #89888a;
}

button:active{
background-color:#bbbbbb;
color: black;
}

section{
border: 1px solid #101010;
border-radius: 20px;
margin-top: 36px;
padding: 12px;
display: flex;
flex-direction: column;
align-items: center;
}

.arrow{
margin: 15px 0;

}

.currency-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency {
    color: #777777;
    font-size: 14px;
}

.currency-value, .currency-value-to-convert{
    color: #555555;
    font-weight: 700;
    font-size: 20px;
}